<h1>Practice React</h1>

<ul>
  <li>
    <a href="hello_reacts">Hello React</a>
  </li>
  <li>
    <a href="tic_toc_toes">Tic Toc Toe Game</a>
  </li>
  <li>
    <a href="to_dos">To Do App</a>
  </li>
</ul>
